header#header.container
    svg.btn-mobileNavOpen(style='width:30px;height:30px', viewbox='0 0 24 24')
        path(d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z")

    div.wrap-logo
        div.logo
            span.invisible N
            span.invisible i
            span.invisible k
            span.invisible o
            span.invisible l
            span.invisible a
            span.invisible y
            | &nbsp
            span.invisible P
            span.invisible o
            span.invisible p
            span.invisible o
            span.invisible v
        p.tagline
            span.invisible u
            span.invisible x
            | &nbsp
            span.invisible d
            span.invisible e
            span.invisible s
            span.invisible i
            span.invisible g
            span.invisible n