ul
    li.invisible
        a.active(data-section-id="ux") Что такое UX
    li.invisible
        a(data-section-id="webApp") Разработка веб-приложений
    li.invisible
        a(data-section-id="basicSkills") Навыки
    li.invisible
        a(data-section-id="siteDevelopment") Разрабокта бренда & сайта