@import '../../css/media.scss';

.mainNav-mobile {
  display: none;
}

@include mobile {
  .mainNav-mobile {
    z-index: 1001;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .title {
      position: relative;
      width: 100%;
      padding: 20px 20px;
      font-size: 1.3em;
      font-weight: 300;
      color: #FFFFFF;
      background-color: #363636;
    }

    ul {
      position: relative;
      left: 0;
      width:100%;
      height: 100%;
      //max-width: 320px;
      background-color: #FFFFFF;

      li {
        position: relative;
        padding: 20px 20px;
        cursor: pointer;
        background-color: #FFFFFF;

        &:nth-child(2n) {
          background-color: #ececec;
        }
      }
    }
  }
}
