@import "../../../css/media.scss";

.wrap-cells {
  $primary-color: #382a43;
  $content-color: #FFFFFF;

  $cell-hover-color: #E82C0C;

  $widthCell: 46px;
  $heightCell: 76px;

  $fullWidthCell: $widthCell*2;
  $fullHeightCell: $heightCell;

  $ratioContentSize: 0.92;

  $widthCellContent: floor(($widthCell)*$ratioContentSize);
  $heightCellContent: floor(($heightCell)*$ratioContentSize);

  $cellBorderWidth: floor(($heightCell - $heightCellContent)/2);

  position: relative;
  width: $fullWidthCell;
  height: $fullHeightCell;
  margin: 0 auto;

  .cell {
    position: absolute;
    width: $widthCell;
    height: $heightCell;
    background: $primary-color;

    &::before {
      content: "";
      position: absolute;
      left: -$widthCell/2;
      top: 0;
      width: 0;
      height: 0;
      border-top: $heightCell/2 solid transparent;
      border-right: $widthCell/2 solid $primary-color;
      border-bottom: $heightCell/2 solid transparent;
    }

    &::after {
      content: "";
      position: absolute;
      right: -$widthCell/2;
      top: 0;
      width: 0;
      height: 0;
      border-top: $heightCell/2 solid transparent;
      border-left: $widthCell/2 solid $primary-color;
      border-bottom: $heightCell/2 solid transparent;
    }

    &:hover {
      z-index: 100;
      cursor: pointer;
      //color: $cell-hover-color;
      background-color: $cell-hover-color;

      &::before {
        border-right-color: $cell-hover-color;
      }

      &::after {
        border-left-color: $cell-hover-color;
      }

    }

    .content {
      position: relative;
      z-index: 1;
      top: $cellBorderWidth;
      margin: 0 auto;
      width: $widthCellContent;
      height: $heightCellContent;
      background: $content-color;
      //transform: translate(-50%, -50%);

      &::before {
        content: "";
        position: absolute;
        left: -(floor($widthCellContent/2));
        top: 0;
        width: 0;
        height: 0;
        border-top: $heightCellContent/2 solid transparent;
        border-right: $widthCellContent/2 solid $content-color;
        border-bottom: $heightCellContent/2 solid transparent;
      }

      &::after {
        content: "";
        position: absolute;
        right: -(floor($widthCellContent/2));
        top: 0;
        width: 0;
        height: 0;
        border-top: $heightCellContent/2 solid transparent;
        border-left: $widthCellContent/2 solid $content-color;
        border-bottom: $heightCellContent/2 solid transparent;
      }

      span {
        z-index: 10;
        position: absolute;
        width: $fullWidthCell - $cellBorderWidth*4;
        //width: 100%;
        top: 50%;
        left: 50%;
        line-height: 1.3;
        font-size: 0.7em;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        white-space: pre-line;
        transform: translate(-50%, -50%);
        hyphens: manual;
      }
    }

  }

  .cell:nth-child(1) {
    left: $widthCell/2;
  }

  .cell:nth-child(2) {
    left: $widthCell/2 + $fullWidthCell - ($widthCell/2)-$cellBorderWidth;
    top: $fullHeightCell/2-$cellBorderWidth/2;
  }

  .cell:nth-child(3) {
    left: $widthCell/2 + $fullWidthCell - ($widthCell/2)-$cellBorderWidth;
    top: -($fullHeightCell/2-$cellBorderWidth/2);
  }


  @include oldDesktop {
    $widthCell: 42px;
    $heightCell: 68px;

    $fullWidthCell: $widthCell*2;
    $fullHeightCell: $heightCell;

    $ratioContentSize: 0.92;

    $widthCellContent: floor(($widthCell)*$ratioContentSize);
    $heightCellContent: floor(($heightCell)*$ratioContentSize);

    $cellBorderWidth: floor(($heightCell - $heightCellContent)/2);

    width: $fullWidthCell;
    height: $fullHeightCell;

    @import "cell-dimensions";
  }

  @include tablet {
    $widthCell: 38px;
    $heightCell: 62px;

    $fullWidthCell: $widthCell*2;
    $fullHeightCell: $heightCell;

    $ratioContentSize: 0.91;

    $widthCellContent: floor(($widthCell)*$ratioContentSize);
    $heightCellContent: floor(($heightCell)*$ratioContentSize);

    $cellBorderWidth: floor(($heightCell - $heightCellContent)/2);

    width: $fullWidthCell;
    height: $fullHeightCell;

    @import "cell-dimensions";
  }

}
