main

    section#intro.container
        h1 Занимаюсь проектированием и оптимизацией бизнес процессов, UX/UI проектированием, проектированием и разработкой веб-приложений,
        p  используя современные технологии, уже более 13-ти лет. Сторонник эволюционного прототипирования.

    section#ux.container.pageSection
        h2 Что такое UX (User Experience)?
        p
            | По сравнению со многими другими дисциплинами, в частности, web-ориентированных систем, UX является относительно новым.
            | Термин UX был придуман доктором Дональдом Нормандом, который был первым, кто описал возможность ориентированного на пользователя дизайна,
            | где проектные решения должны быть основаны на потребностях и желаниях пользователей.
        section#container-uxModel.container-uxModel
        span
            | User Experience имеет много измерений и включает в себя много различных дисциплин, такие как:
        ul
            li проектирование взаимодействия
            li информационной архитектуры
            li визуального дизайна
            li юзабилити
            li человека-компьютерного взаимодействия
        p
            | Таким образом, UX это осознание каждой точки соприкосновения с вашим продуктом или услугой, а UX Design представляет собой процесс проектирования
            | продуктов (цифровых или физических), которые полезны, просты и удобны в использовании.

        h2 Почему UX так важен?
        p
            | Сегодня продукт это сложный процесс, который состоит из множества компонентов. Доступ к нему может осуществляться в любых местах различными способами,
            | с различных устройств, различными браузерами и через различные виды интернет соединения. Конкуренция на рынке тоже не легкая задача.
            | В последние годы владельцы компаний прилагают огромные усилия чтобы обеспечить трафик на свои ресурсы, они хотят видеть как можно больше конечных пользователей своих продуктов.
        P
            | Знакомство с продуктом или услугой начинается с первых секунд взаимодействия с компанией. Посетитель, даже не начав пользоваться конечным продуктом,
            | уже может сформировать негативное к нему отношение с первых секунд взаимодействия с компанией. Несмотря на огромные инвестиции в конечный продукт,
            | одно неудачное взаимодействие (долгое ожидание, невежливое общение, неправильная подача информации и т.д.) может отпугнуть потенциального пользователя.
            | Поэтому важно, чтобы каждая точка взаимодействия была проработана максимально качественно.
        p
            | UX берет на себя проектирование всех процессов, которые проходят через умы посетителей, когда они взаимодействуют с продуктами, цифровыми или физическими,
            | и формируют основу своих решений о том, чтобы стать регулярными пользователями (посетителями) и рекомендовать ваш продукт другим.

        h2 Что мы получаем от UX-проектирования?
        p
            | Мы живем в быстро развивающемся, но не идеальном мире, и не имеем неограниченных ресурсов, поэтому всегда должны расставлять приоритеты и определять области, от которых можно получить максимальную отдачу.
        p
            | Со сложными системами все просто, чем сложнее система, тем сложнее планировать и строить архитектуру, поэтому ошибки на старте имеют геометрическую зависимость
            | со сложностью модернизации в будущем. Ведь добавить новый винтик в работающий проект будет ресурсозатратно.
            | Но надо понимать, что UX проектировщик не сможет полностью исключить новые “винтики” из работающего проекта, хотя бы потому, что продукт должен постоянно развиваться,
            | чтобы удовлетворять растущие потребности пользователей продукта, но UX проектировщик способен значительно уменьшить количество итераций.
        P
            | Небольшие и средние компании должны держать расходы на низком уровне, чтобы оставаться рентабельными. В центре внимания у таких компаний процесс сборки проекта,
            | а не планирование, исследование и анализ конечного пользователя. Проекты с небольшим бюджетом сильно зависят от скорости запуска продукта, и не чувствуют себя
            | обязанными вкладывать средства в то, что не относится к быстрой сдачи заказа(продукта). Но если Вы хотите, чтобы разработанный продукт нашел отклик у максимального количества
            | заинтересованных посетителей, вам в скором времени придется задуматься о найме UX проектировщика. Опираясь на свой опыт пользовательского взаимодействия,
            | он создаст прочную UX структуру в самых первых версиях продукта, что позволит удержать, а так же, привлечь внимание гораздо большего числа пользователей к продукту.
            | Поэтому имеет смысл нанять качественного UX проектировщика на контрактной основе.
        P
            | Самая сложная ситуация со стартапами, как правило, они не имеют ресурсов, чтобы нанять компетентного UX проектировщика для развития своего продукта.
            | В такой ситуации, обучение существующих сотрудников принципам и процессам UX будет более оправданным, чем нанимать штатных сотрудников.
        p
            | Независимо от размера компании, UX проектировщик будет выявлять слабые места в ваших продуктах и услугах, определять степень негативного влияния, слабых мест,
            | на продукт и предлагать свои решения. Предоставленные отчеты позволят руководству более детально воспринимать свой продукт и принимать взвешенные решения
            | при распределение своих ресурсов.

    section#webApp.pageSection

    section#basicSkills.container.pageSection
        div.column.c50.basicSkills-main
            h3 Основные навыки
            ul.column.c50
                li Analytics
                li Business Process Development
                li Business Process Optimization
                li Brand Development
                li UX (User Experience)
                li UI (User Interface)
                li Information Architecture
                li Frontend Architecture
                li RESTFUL Architecture
                li Dev WebApp and CIS
                li Responsive Design
                li A/B Testing
                li Wireframing, Prototyping
            ul.column.c50
                li HTML5 & CSS3 (Sass)
                li JavaScript (ES6)
                li TypeScript
                li Angularjs, Angular.io
                li AJAX & Promise & Flows
                li ReactiveX
                li JS & CSS Animation
                li GIT (GitHub & Bitbucket)
                li Node.js & NPM
                li Pug(Jade) Template
                li Webpack (Gulp, Brunch)
                li Chrome Dev Tool
        div.column.c50.basicSkills-second
            h3 Проектирование и оптимизация
            p
                | 7 лет аналитики, коммерческого опыта разработки и оптимизации бизнес процессов, адаптации бизнеса под веб,
                | 5 лет проектирвоания веб-интерфейсов и веб-приложений, более 13 лет веб-разработки.
            p
                | Сегодня я сосредоточился на UX проектировании
                | продуктов (цифровых и физических), которые полезны, просты и удобны в использовании.
            h4 Планы на 2017 год
            p
                | Продолжаем следить за развитием UX, веб-технологий и смежных отраслей. Глубокое изучение Adobe XD для прототипирования и построения живых моделей и погружение в стэк технологий Angular.io.
            P(style='font-weight: 600; color: #000')
                | Если Вам нужен качественный продукт, ориентированный на конечного пользователя, пишите мне на&nbsp
                a(href='mailto:mail@lifebits.ru') nikolay@lifebits.ru
        div.additionalInfo
            | * Пройдены три курса, для повышщения квалификации на&nbsp
            a(href='https://learn.javascript.ru/courses') javascript.ru
            |  - javaScript/DOM/интерфейсы, angular.js, angular.io

    section#siteDevelopment.container.pageSection
        H2 Разработка бренда & сайта

    section#wrap-branding.container
        p
            | Летом 2014 года ко мне обратилась группа инвесторов с действующим бизнесом в сфере строительства и производства строительных материалов,
            | с целью создать единый бренд для выхода на комплексное малоэтажное строительство и более интенсивного продвижения на строительном рынке.
            | После изучения полученных данных и знакомства с их бизнес портфелями, мною была представлена модель взаимодействия между компаниями инвесторов
            | и представлен единый бренд evostone, с комплексом решений, которые объединят их бизнес-процессы в единый механизм.
        p
            | Под их задачи и единый бренд был спроектирован и реализован интернет сайт и множество сопроводительной информации, так же был спроектирован и
            | реализован калькулятор - расчет расхода строительных материалов и расчет стоимости малоэтажного строения. В итоге заказчикам был отдан полноценный продукт,
            | с которым они могут работать долгое время.
        p
            | По дополнительному соглашению был произведен обзор современных технологий и решений в малоэтажном строительстве и спроектирована система умного дома (smart home).