div.cardInfo
    h4 ASUR - программный комплекс для автоматизации ресторанного бизнеса.
    p
        | Система состоит из нескольких частей, которые уже функционировали к моему приходу в проект.
        | Моей задачей было улучшение существующей бизнес-логики и проектирование аналитической части системы для управляющих и инвесторов, с последующей реализацией.
    p
        | Основной особенностью аналитической части, было обеспечить доступ к программному продукту с использованием минимального количества инструментов
        | со стороны пользователя системы и чтобы продукт не был привязан к рабочему месту пользователя, т.к. инвесторы зачастую имеют бизнес в нескольких странах
        | и не могут постоянно находится на одном рабочем месте.
    p
        | Для реализации аналитической части программного продукта были выбраны веб-технологии (HTML5, JS, CSS3, PHP), которые потребуют от конечного пользователя
        | лишь наличие браузера и интернет соединения. К тому же, основная часть программного продукта была реализована на платформе MSSQL и благодаря sqlsrv драйверу,
        | моя концепция полностью вписалась в существующий проект.
    p
        | После сбора и анализа данных, был собран и спроектирован пул основных отчетов, необходимых для понимания текущей ситуации в своем бизнесе, со стороны управляющих и инвесторов бизнеса:

    section.ul
        div.li Продажа блюд
        div.li Выручка по дням
        div.li Системный баланс
        div.li Продажи по категориям
        div.li Список чеков
        div.li Движение товаров
        div.li Остатки по складам
        div.li Калькуляция блюд
        div.li Оборот товаров

    p
        | Каждому отчету был спроектирован визуальный скетч, все скетчи я делаю от руки на листах, формата А4, потому что любой другой инструмент накладывает свои ограничения
        | на мыслительный процесс, что тормозит процесс проектирования. Потом уже можно переходить в программу, например Sketch, Axure и переносить свои наработки в нее, но макеты
        | в подобных программах, служат презентационным материалом, чем инструментом проектирования.
        | Польза от подобных программных продуктов будет только в случае проектирования детальных прототипов, а это возможно только в крупных проектах, где задействовано
        | большое количество участников, в остальных же случаях мой подход оптимальней.
    p
        | После того, как все отчеты отрисованны от руки, представляем их руководству на утверждение, а сами начинаем заниматься прототипированием.
        | При достаточном опыте веб-разработки лучше сразу верстать каркас в браузере, при этом используя какой-нибудь препроцессор, например sass,
        | он поможет выстроить правильную структуру файлов каскадных таблиц стилей, с которой в будущем будет удобно работать.
        | А верстка в браузере поможет сразу тестировать ваш интерфейс на различных устройствах.
    P
        | Уже в сверстанном и оттестированном каркасе можно добавить события, анимацию и посмотреть как прототип выглядит в динамике и дальше уже прорабатывать каждый элемент интерфейса,
        | нагружать его данными и тестировать. Если проект большой то Вы с легкостью можете разбить итоговый каркас на компоненты и работать командой над его реализацией.
