div.cardInfo
    h4 mafon.pw - онлайн сервис для прослушивания акутальной музыки
    p
        | Веб-приложение с открытым исходным кодом, написанное с использованием технологий: angular, html5, CSS3|SCSS, ES6 и системой сборки webpack.
    p
        | Приложение позволяет прослушивать “актуальную” музыку на текущий момент времени. Аудиозаписи берутся из открытых источников и формируют список
        | текущих плейлситов из которых пользователь может сформировать свой плелийлист для дальнейшего прослушивания, на любых устройствах.
    p
        | Интерфейс выполнен в темных тонах и состоит из основного навигатора, который перемещает пользователя по сгруппированным плейлистам (музыкальным жанрам),
        | панели управления аудио записями и пользовательским плейлистом, куда пользователи добавляют аудиозаписи для дальнейшего прослушивания.
    p
        | Проект находится на начальной стадии разработки и в дальнейшем будет развиваться. Исходный код проекта можно посмотреть в моем акаунте на&nbsp
        a(href="https://github.com/lifebits", style="color: #FFFFFF") гитхабе.