div.cardInfo
    h4 Веб-приложение для работы с заказами интернет магазина
    p
        | Программный продукт подключается к вашему интернет магазину и обрабатывает поступающие заказы. Полученные заказы отображаются на рабочем столе
        | пользователя системы, где он может сними взаимодействовать: просматривать, редактировать, подтверждать, распределять, менять статусы.
    p
        | Рабочий стол программного продукта состоит из списка текущих заказов и их статуса и основного навигатора, который дает доступ к различным модулям системы:

    section.ul
        div.li Внесение заказа вручную
        div.li Отчеты
        div.li Работа с каталогом
        div.li Работа со скидками

    p
        | Каждый модуль системы имеет адаптивный интерфейс в едином стиле. Вся система построена на технологиях: HTML5, ES5, CSS3, PHP5, MySQL.